.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: $text;
}

.route {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $grayText;
}
