.wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
}

.name {
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: $text;
}
