$border: #f0f3fc;

$text: #071435;
$grayText: #828ead;
$divider: #e2e4f0;
$placeholder: #050d23;
$discount: #ff3d71;
$bgGray: #f2f5f9;
$shadow: #bac4e0;

$primaryBlue-100: #f2f6ff;
$primaryBlue-800: #316cff;
$primaryBlue-900: #1551e5;

$white: #ffffff;
